<p class="text-center">Please enter a title, description and link below!</p>
<div class="submit-form">
    <div *ngIf="!submitted">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" required [(ngModel)]="tutorial.title" name="title" />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" id="description" required [(ngModel)]="tutorial.description"
                name="description" />
        </div>
        <div class="form-group">
            <label for="description">Link</label>
            <input class="form-control" id="link" required [(ngModel)]="tutorial.link" name="link" />
        </div>

        <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
</div>